body
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #191414;
    color: white;
    background-image: url('music_background.jpg');
}

.navbar {
    background-color: #1DB954;
}

/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #2596be;
}
nav .navbar-brand .red
{
    color: #b91d24;
}
nav .navbar-brand .yellow
{
    color: #ffcf5f;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

nav .navbar-brand .black
{
    color: black;
}

nav .navbar-brand .funny
{
    color: #86E5FF;
}

nav .navbar-brand .funny2
{
    color: #AACB73;
}

table
{
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 150px 15px;
}

h2
{
    font-weight: bold;
}

button
{
    color: white;
    font-weight: bold;
    background-color: #1DB954;
    border-radius: 12px;
    border: none;
    padding: 0.4em 1em;
}

.error {
    width: fit-content;
    margin: auto;
    background-color: #ff726a;
    color: rgb(141, 0, 0);
    padding: 0px 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.spotify-title {
    background-color: #1DB954;
    padding: 10px 15px;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
}

.login-button {
    background-color: #1DB954;
    color: white;
    font-size: 30px;
    padding-top: 8px;
}

.h0 {
    font-size: 72px;
    font-weight: bold;
}